<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Partners - Servicios Virtuales</title>
    <link rel="icon" type="img/css" href="/Img/robot-logo.jpg">
    <meta name="description" content="Servicios Virtuales realizamos relevamientos de toda la red 
        para crear, diseñar y desarrollar sistemas de monitoreos para evaluar los recursos y el desempeño 
        de cada dispositivo.  Zabbix, Nagios, Cacti.">
    <meta name="keywords" content=" sistemas de monitoreo,
        sistemas de monitoreo de redes open source,
        sistemas de monitoreo en tiempo real,
        sistemas de monitoreo en red,
        sistema de monitoreo free,
        sistema de monitoreo de fibra optica,
        sistemas de monitoreo inalambrico,
        sistemas de monitoreo linux,
        sistemas de monitoreo para maquinaria pesada,
        sistemas de monitoreo nagios,
        sistemas de monitoreo open source,
        sistema de monitoreo on line,
        sistemas de monitoreo y control empresarial,
        sistema de monitoreo redes,
        sistemas de monitoreo de una empresa,
        sistema de monitoreo de una red,
        sistema de video monitoreo,
        sistema de monitoreo y vigilancia,
        sistema de monitoreo wifi,
        sistema de monitoreo wireless,
        sistemas de monitoreo y evaluación de proyectos,
        sistema de monitoreo zabbix">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark "style="background-color: #0e0b16;">
        <a class="navbar-brand" href="../index.html"> 
                <img src="../Img/robot-logo.jpg" alt="Robot" width="70" height="70" > Servicios Virtuales
        </a>
        <button class="navbar-toggler " type="button" data-toggle="collapse" 
        data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" 
        aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

        <div class="collapse navbar-collapse " id="navbarTogglerDemo01">
          <div class="navbar-nav ml-auto">
                <a class="nav-link" href="../index.html">Home</a></li>
                <a class="nav-link" href="./servicios.html">Servicios</a>                            
                <a class="nav-link" href="./proyectos.html">Proyectos</a>
                <a class="nav-link" href="./partners.html">Partners</a>
                <a class="nav-link" href="./contactos.html">Contactos</a>
              </div> 
            </div>
        </nav>                 
    </header>
    <section>
      <div class=" container-fluid">
        <div class="row">
          <div class="col-md-6">
            <img src="../Img/cliente-junta-de-trabajo.jpg" class="p-3 mb-5 mt-4 img-fluid" alt="Trabajo en grupo">
          </div>
          <div class="col-md-6 p-3 mb-5 mt-4 ">
            <H2 class="titulo-partners"> Alianzas en toda América. </H2>
            <p class="parrafo-partners">
              Servicios Virtuales se enfoca en tecnologías emergentes e innovadoras y una amplia experiencia en integración, buscando establecer alianzas con los principales proveedores de tecnología en su campo de acción. Además de estas alianzas, también ha aumentado sus reconocidas capacidades de consultoría técnica, ingeniería de sistemas y gestión de proyectos para brindar a sus clientes soluciones completas. 
            </p>

          </div>
        </div>
      </div>

    </section>
    <section>
      <div class="container-fluid Back-Color ">
        <h2 class="text-center Titulo-tamano p-3 "> Partners de Servicios Virtuales</h2>
        <div class="row ">
          <div class="col-md-4 text-center no-gutters  p-3 Galeria-partners"> 
            <img src="/Img/Cisco_logo.jpg" class="p-1" alt="Partners Cisco" data-aos="flip-left">
            <img src="/Img/hp-enterprise-logo.jpg" class="p-1" alt="Partners HP Enterprise" data-aos="flip-left">  
          </div>
          <div class="col-md-4 text-center no-gutters p-3 Galeria-partners"> 
            <img src="/Img/microsoft-logo.png" class="p-1" alt="Partners Microsoft" data-aos="flip-left">
            <img src="/Img/VM-ware-esx.jpg" class="p-1" alt="Partners Vm Ware" data-aos="flip-left"> 
          </div>
          <div class="col-md-4 text-center p-3 no-gutters Galeria-partners" > 
            <img src="/Img/Aruba-networks-logo.png" class="p-1" alt="Partners Aruba" data-aos="flip-left">
            <img src="/Img/logo_redhat.jpg" class="p-1" alt="Partners Red Hat" data-aos="flip-left"J> 
          </div>
        </div>
      </div>
    </section>


   

 <footer>
      <nav> 
        <div class="footer__logo">
          <ul class="footer__menu">
            <li><a href="./Privacidad.html">Privacidad</a></li>
            <li><a href="./mapaDelSitio.html " >Mapa del Sitio</a></li>
            <li><a href="./paginaEnIgles.html" >Pagina en Ingles</a></li>
          </ul>
          <a class="d-none d-md-block" href="./index.html">
            <img src="../Img/robot-logo.jpg" alt="Robot" width="70" height="70" >
          </a> 
        </div>
      </nav>
    </footer>
    <!--SCRIPTS-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
AOS.init();
</script>

</body>

</html>
