<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacidad - Servicios Virtuales</title>
    <link rel="icon" type="img/css" href="/Img/robot-logo.jpg">
    <meta name="description" content="Servicios Virtuales realizamos relevamientos de toda la red 
        para crear, diseñar y desarrollar sistemas de monitoreos para evaluar los recursos y el desempeño 
        de cada dispositivo.  Zabbix, Nagios, Cacti.">
        <meta name="keywords" content=" sistemas de monitoreo,
        sistemas de monitoreo de redes open source,
        sistemas de monitoreo en tiempo real,
        sistemas de monitoreo en red,
        sistema de monitoreo free,
        sistema de monitoreo de fibra optica,
        sistemas de monitoreo inalambrico,
        sistemas de monitoreo linux,
        sistemas de monitoreo para maquinaria pesada,
        sistemas de monitoreo nagios,
        sistemas de monitoreo open source,
        sistema de monitoreo on line,
        sistemas de monitoreo y control empresarial,
        sistema de monitoreo redes,
        sistemas de monitoreo de una empresa,
        sistema de monitoreo de una red,
        sistema de video monitoreo,
        sistema de monitoreo y vigilancia,
        sistema de monitoreo wifi,
        sistema de monitoreo wireless,
        sistemas de monitoreo y evaluación de proyectos,
        sistema de monitoreo zabbix">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark "style="background-color: #0e0b16;">
        <a class="navbar-brand" href="../index.html"> 
                <img src="../Img/robot-logo.jpg" alt="robot" width="70" height="70" > Servicios Virtuales
        </a>
        <button class="navbar-toggler " type="button" data-toggle="collapse" 
        data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" 
        aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

        <div class="collapse navbar-collapse " id="navbarTogglerDemo01">
          <div class="navbar-nav ml-auto">
                <a class="nav-link" href="../index.html">Home</a></li>
                <a class="nav-link" href="./servicios.html">Servicios</a>                            
                <a class="nav-link" href="./proyectos.html">Proyectos</a>
                <a class="nav-link" href="./partners.html">Partners</a>
                <a class="nav-link" href="./contactos.html">Contactos</a>
              </div> 
            </div>
        </nav>                 
    </header>
    <section class="Background-Color-amarillo container-fluid">
        <div class="row justify-content-md-center">
            <img src="../Img/Page-UnderConstrction.png" class="col-sm-4 img-fluid " alt="Pagina en Page UnderConstrction">
        </div>
    </section>
    

   
    
    
<!--SCRIPTS-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
</body>
</html>
